<link href="../../Content/bootstrap/bootstrap.css" rel="stylesheet" />

<div class="page-header">Contactng us</div>
<form class="form-horizontal" method="POST" action="enviar.php">
    <fieldset>
        <legend>Formulário de contato</legend>

        <div class="form-group">
            <label for="txtNome" class="col-lg-2 control-label">Digite seu nome:</label>
            <div class="col-lg-6">
                <input type="nome" class="form-control" id="txtNome" placeholder="Nome.." />
            </div>
        </div>

        <div class="form-group">
            <label for="txtEmail" class="col-lg-2 control-label">Digite seu email:</label>
            <div class="col-lg-6">
                <input type="email" class="form-control" id="txtEmail" placeholder="Email.." />
            </div>
        </div>

        <div class="form-group">
            <label for="selectEstado" class="col-lg-2 control-label">Estado:</label>
            <div class="col-lg-10">
                <select class="col-lg-4">
                    <option>Minas Gerais</option>
                    <option>São Paulo</option>
                    <option>Rio de Janeiro</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="txtMensagem" class="col-lg-2 control-label">Mensagem:</label>
            <div class="col-lg-10">
                <textarea id="txtMensagem" placeholder="Mensagem..."></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="txtArquivo" class="col-lg-2 control-label">Arquivo:</label>
            <div class="col-lg-5">
                <input type="file" />
            </div>
        </div>
        <div class="col-lg-6">
            <input type="submit" class="btn btn-success"/>
            <div class="btn btn-danger" align="right">Cancelar</div>
        </div>
    </fieldset>
</form>


